@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

/* Header/Nav part one*/
header img {
  margin-bottom: 30px;
}

.header__logo {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.header__formulaire {
  border: none;
  background-color: #EAEAEA;
  font-size: 35px;
}

.header__localisation {
  color: #353535;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  background-color: #EAEAEA;
  box-shadow: 0px -5px 10px rgb(186, 184, 184);
  line-height: 0.1;
  padding-left: 30px;
}
.header__localisation i {
  font-size: 40px;
  margin-left: 150px;
}

.header__explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 65px;
  box-sizing: border-box;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}

.header__exception {
  color: #353535;
  font-size: 45px;
  font-weight: lighter;
  margin-top: 3px;
}

.header__explorer {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 55px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  width: 50%;
  line-height: 95px;
  box-shadow: 0px 5px 40px 0px grey;
  opacity: 1;
  transition: opacity 3s ease;
}
.header__explorer:hover {
  opacity: 0.7;
  box-shadow: 0px 15px 40px 0px grey;
  transition: opacity 3s ease 3s;
}

/* Nav part two */
#btn__fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 70px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: #F6F6F6;
  border-radius: 40px;
  margin-right: auto;
  align-items: center;
  margin: 25px;
  padding: 22px 0;
}
.btn__nbr {
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 40px;
  width: 55px;
  height: 55px;
  text-align: center;
  margin-left: -30px;
  font-size: 40px;
}
.btn__nbr__txt {
  font-size: 40px;
}

.fa-mobile-screen-button {
  color: grey;
  font-size: 50px;
}
.fa-mobile-screen-button .fa-list-ul {
  color: grey;
  font-size: 50px;
}
.fa-mobile-screen-button .fa-list-ul .fa-store {
  color: #9356DC;
  font-size: 50px;
}

/* Section / article */
.flexcard__restaurant {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #F6F6F6;
  gap: 40px;
  margin-top: 70px;
}

.card__restaurant {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: white;
}

.card__restaurant img {
  border-radius: 30px 30px 0px 0px;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__subtitle {
  font-weight: 300;
}

.card__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  line-height: 0.005;
}

.heart {
  text-align: right;
  margin-right: 40px;
  font-size: 50px;
  background-color: transparent;
  transition: color 0.5s ease;
}
.card__txt {
  position: relative;
  display: inline-block;
}

.fa-regular.fa-heart {
  font-size: 24px;
  /* Ajustez la taille du logo */
  color: transparent;
  transition: background-color 1s;
  /* Durée de la transition */
}

.card__txt:active .fa-regular.fa-heart {
  background-color: red;
  /* Couleur que vous souhaitez pour remplir le logo */
}

/* Footer */
footer {
  background-color: #353535;
  margin: 0px;
  padding: 0px;
}
footer .flex__footer {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 50px;
  line-height: 0.05;
}
footer .flex__footer .flex-footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

footer img {
  width: 250px;
  filter: invert(1);
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.footer__queries {
  display: none;
}

.alignement {
  color: white;
}

@media (min-width: 1281px) {
  .header__logo {
    width: 240px;
  }
  .header__localisation {
    box-shadow: none;
  }
  .header__localisation p {
    font-size: 15px;
  }
  .header__localisation .fa-location-dot {
    font-size: 15px;
  }
  .header__explore h1 {
    font-size: 50px;
  }
  .header__explore .header__exception {
    font-size: 24px;
  }
  .header__explore .header__explorer {
    width: 15%;
    font-size: 18px;
  }
  #btn__fonctionnement {
    margin-left: 180px;
    margin-right: 180px;
  }
  #btn__fonctionnement .btn__nbr {
    font-size: 30px;
    width: 35px;
    height: 35px;
  }
  #btn__fonctionnement .flex__queries {
    display: flex;
    flex-direction: row;
  }
  #btn__fonctionnement h1 {
    font-size: 40px;
  }
  #btn__fonctionnement .btn {
    width: 30%;
    height: 60px;
  }
  #btn__fonctionnement .btn__txt {
    font-size: 20px;
  }
  #btn__fonctionnement .fa-mobile-screen-button {
    font-size: 35px;
  }
  .flexcard__restaurant {
    margin-left: 180px;
    margin-right: 180px;
  }
  .flexcard__restaurant h1 {
    font-size: 50px;
  }
  .flex__restaurant--queries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
  }
  .card__restaurant img {
    width: 700px;
    height: 300px;
  }
  .card__restaurant p {
    font-size: 17px;
  }
  .card__restaurant .heart {
    font-size: 25px;
  }
  footer .flex__footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }
  footer p {
    font-size: 15px;
  }
  footer .fa-utensils {
    font-size: 12px;
  }
  footer .fa-handshake-angle {
    font-size: 12px;
  }
  footer .footer__queries {
    display: block;
    width: 120px;
    margin-right: 30px;
  }
  footer .alignement {
    margin-top: 41px;
    margin-left: 20px;
  }
  .footercache {
    display: none;
  }
  /* Responsive Restaurants */
  .main__container {
    margin: auto;
  }
  .title p {
    margin-left: 320px;
  }
  .title i {
    margin-right: 320px;
  }
  h3 {
    font-size: 25px;
  }
  .menu p {
    font-size: 20px;
  }
  .palette {
    height: 100%;
  }
}
/* Pages Restaurants */
.header__restaurant {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.header__restaurant i {
  flex: 0 0 auto;
  margin-left: 30px;
}
.header__restaurant img {
  flex: 0 0 auto;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.palette {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}

.main__container {
  box-sizing: border-box;
  max-width: 1440px;
  background-color: white;
  border-radius: 50px;
  margin-top: -100px;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 60px;
}
.title p {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
}
.title i {
  font-size: 50px;
}

h3 {
  font-weight: 300;
  margin-left: 30px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
h3:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 1%;
  border-bottom: 5px solid #99E2D0;
}

.menu {
  margin-right: 40px;
  margin-left: 50px;
}
.menu__plats {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}
.menu__euro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -40px;
}

.commander {
  font-size: 30px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 55px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  width: 37%;
  line-height: 95px;
  box-shadow: 0px 5px 40px 0px grey;
  text-align: center;
}/*# sourceMappingURL=test.css.map */